@import 'nullstyle.scss'; //подключение обнуляющего стиля

.wrapper {
	padding: 20px;
}

.block {
	text-align: center;
	color: red;
	font-size: 20px;
}

.block__column__1 {
	border: 5px solid black;
	height: 100px;
}

.block__row__2 {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.block__column__2 {
	width: 30%;
	border: 5px solid black;
	height: 250px;
}

.block__column__3 {
	width: 35%;
	border: 5px solid black;
	height: 250px;
}

.block__column__4 {
	width: 30%;
	border: 5px solid black;
	height: 250px;
}

.block__row__3 {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.block__column__5 {
	width: 48%;
	border: 5px solid black;
	height: 300px;
}

.block__column__6 {
	width: 48%;
	border: 5px solid black;
	height: 300px;
}

.block__row__4 {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.block__column__7 {
	width: 30%;
	border: 5px solid black;
	height: 150px;
}

.block__column__8 {
	width: 35%;
	border: 5px solid black;
	height: 150px;
}

.block__column__9 {
	width: 30%;
	border: 5px solid black;
	height: 150px;
}

@media (max-width: 800px) {
	.block__column__1 {
		width: 100%;
	}
	.block__row__2 {
		flex-direction: column;
		.block__column__2,
		.block__column__3,
		.block__column__4 {
			margin-top: 5px;
			width: 100%;
		}
	}
	.block__row__3 {
		flex-direction: column;
		.block__column__5,
		.block__column__6 {
			margin-top: 5px;
			width: 100%;
		}
	}
	.block__row__4 {
		flex-direction: column;
		.block__column__7,
		.block__column__8,
		.block__column__9 {
			margin-top: 5px;
			width: 100%;
		}
	}
}
